* {
	border:0 none;
	list-style:none;
	margin:0;
	outline:0;
	padding:0;
	}

body {
	color:#5f5f5f;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:1.428571429;
}
div {
	position:relative;
	}
a {
	color:#5f5f5f;
	margin:0 0 16px;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
}
.clearfix {
	clear: both;
}
/*** CONTAINER ***/
.container {
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 940px;
}
/*** BREADCRUMB ***/
.breadcrumb {
	font-size: 11px;
	margin: 0 0 6px;
}
/*** MAIN FORM ***/
.form {
	float: left;
	font-size: 12px;
	width: 64%;
	-moz-box-shadow: 8px 8px 11px -2px #ccc;
	-webkit-box-shadow: 8px 8px 11px -2px #ccc;
	box-shadow: 8px 8px 11px -2px #ccc;
}
.form .top {
	border:1px solid #228736;
	background: rgb(68, 205, 123);
	background: -moz-linear-gradient(90deg, rgb(68, 205, 123) 50%, rgb(34, 195, 100) 0%);
	background: -webkit-linear-gradient(90deg, rgb(68, 205, 123) 50%, rgb(34, 195, 100) 0%);
	background: -o-linear-gradient(90deg, rgb(68, 205, 123) 50%, rgb(34, 195, 100) 0%);
	background: -ms-linear-gradient(90deg, rgb(68, 205, 123) 50%, rgb(34, 195, 100) 0%);
	background: linear-gradient(180deg, rgb(68, 205, 123) 50%, rgb(34, 195, 100) 0%);
}
.form .top h3 {
	background: url(../images/bg-top-title.png) center right no-repeat;
	color: #FFF;
	display: inline-block;
	font-size: 34px;
	font-weight: lighter;
	line-height: 44px;
	padding: 0 34px;
}
.form form {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}
.form form ul {}
.form form ul li {
	float: left;
	width: 26%;
	margin: 6px 3%;
}
.form form ul li label {
	display: block;
}
.form form ul li input[type="text"],
.form form ul li select {
	width: 100%;
	border:1px solid #c3c3c3;
	line-height: 26px;
}
.form form ul li select.s80 { width: 80%;}
.form form ul li select.s100 { width: 100%;}
.form form ul li span {
	color: #CCC;
	font-size: 11px;
}
.form form .validar {
	margin-top: 20px;
	float: right;
}
.form form .validar h4 {
	color: #00aadc;
	display: inline-block;
	font-size: 20px;
	font-weight: lighter;
	background: url(../images/bg-h4-title.png) top right no-repeat;
	line-height: 35px;
	padding: 0 24px;
	margin-right: 12px;
}
.form form .validar h4 span {
	color: #0dbe55;
}
.form form .validar input[type="submit"] {
	border:1px solid #90b245;
	background: rgb(191,238,93);
	background: -moz-linear-gradient(90deg, rgb(191,238,93) 50%, rgb(153,207,33) 0%);
	background: -webkit-linear-gradient(90deg, rgb(191,238,93) 50%, rgb(153,207,33) 0%);
	background: -o-linear-gradient(90deg, rgb(191,238,93) 50%, rgb(153,207,33) 0%);
	background: -ms-linear-gradient(90deg, rgb(191,238,93) 50%, rgb(153,207,33) 0%);
	background: linear-gradient(180deg, rgb(191,238,93) 50%, rgb(153,207,33) 0%);
	border-radius: 3px;
	color: #141415;
	display: inline-block;
	font-size: 16px;
	padding: 6px 24px;
	cursor: pointer;
}
/*** LOGOS ***/
.logos {
	margin: 30px 0;
}
.logos ul {}
.logos ul li {
	width: 33.3%;
	float:left;
	text-align: center;
}
/*** BOX AYUDA ***/
.box_ayuda {
	width: 34%;
	float: right;
}
.box_ayuda div {
	float: left;
	margin: 0 5px;
}
.box_ayuda .left {
	background: url(../images/telefono.png) top left no-repeat;
	font-size: 18px;
	line-height: 24px;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px solid #333;
}
.box_ayuda .left span {
	color: #00a7ce;
}
/*** CONTENT ***/
.content {
	background: #f8f8f8;
background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top,  #dddddd 0%, #f8f8f8 6%, #f8f8f8 6%, #f8f8f8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(6%,#f8f8f8), color-stop(6%,#f8f8f8), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #dddddd 0%,#f8f8f8 6%,#f8f8f8 6%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #dddddd 0%,#f8f8f8 6%,#f8f8f8 6%,#f8f8f8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #dddddd 0%,#f8f8f8 6%,#f8f8f8 6%,#f8f8f8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #dddddd 0%,#f8f8f8 6%,#f8f8f8 6%,#f8f8f8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */

}

@media (max-width: 1024px) {
	body {
		font-size: 12px;
	}
	.hide {
		display: none;
	}
	.container {
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
	}
	.form {
		width: 100%;
		float: none;
	}
	.box_ayuda {
		margin: 20px auto;
		width: 100%;
		float: none;
	}
	.box_ayuda div {
		float: none;
		text-align: center;
	}
	.box_ayuda .left {
		background: none;
		border:0;
	}
	.box_ayuda br {
		display: none;
	}
}
@media (max-width:768px){
	.form .top h3 {
		font-size: 18px;
		line-height: 30px;
	}
	.form form ul li {
		float: none;
		width: auto;
	}
	.form form .validar h4 {
		font-size: 17px;
	}
	.form form ul li select.s80 { width: 100%;}
}
@media (max-width:480px){
	.form form .validar h4 {
		display: none;
	}
	.form .top h3 {
		font-size: 14px;
	}

}









